[user]
  name = anderslemke
  email = mail@anderslemke.dk
[alias]
  st  = status
  ca  = commit -a
  co  = checkout
  br  = branch
  msg = commit --allow-empty -m
[push]
  default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[github]
  user = anderslemke
