[user]
  name = anderslemke
  email = mail@anderslemke.dk
[alias]
  st  = status -sb
  ci  = commit
  co  = checkout
  br  = branch
  msg = commit --allow-empty -m
  undo = reset --soft HEAD~1
  merged = branch --merged
  flog = log --graph --color --decorate --patch --
  l = log --graph --oneline
  hammer = commit --allow-empty -m "🔨"
[push]
  default = current
  followTags = true
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[github]
  user = anderslemke
[mergetool]
  prompt = false
[merge]
  conflictstyle = diff3
  tool = vimdiff
