[user]
  name = anderslemke
  email = mail@anderslemke.dk
[alias]
  st  = status
  ci  = commit
  co  = checkout
  br  = branch
  msg = commit --allow-empty -m
  undo = reset --soft HEAD~1
[push]
  default = current
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[github]
  user = anderslemke
[web]
	browser = links
